:host {
    --p-autocomplete-dropdown-background: var(--p-inputtext-background);
    --p-autocomplete-dropdown-hover-background: var(--p-autocomplete-dropdown-background);
    --p-autocomplete-dropdown-active-background: var(--p-autocomplete-dropdown-background);
}
.container {
    max-width: 60rem;
}
