<p-tabs [value]="activeTab()" class="flex flex-column w-full h-full overflow-hidden">
    <p-tablist class="">
        <p-tab value="0" (click)="activeTab.set('0')" (keypress)="null"><div class=""><span class="">Component Preset</span></div></p-tab>
        <p-tab value="1" (click)="activeTab.set('1')" (keypress)="null"><div class=""><span class="">Css Overrides</span></div></p-tab>
    </p-tablist>
    <p-tabpanels class="flex flex-column w-full h-full overflow-hidden">
        <p-tabpanel value="0" class="flex-column w-full h-full overflow-hidden" [class.flex]="activeTab()=='0'" [class.hidden]="activeTab()!='0'">
            <form-preset [vmodel]="store.vmodel().form!" [scheme]="store.vmodel().scheme!" />
        </p-tabpanel>
        <p-tabpanel value="1" class="flex-column w-full h-full overflow-hidden" [class.flex]="activeTab()=='1'" [class.hidden]="activeTab()!='1'">
            <form-styles [vmodel]="store.vmodel().css!" />
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
<div class="flex justify-content-between align-items-center px-4">
    <div class="" [pTooltip]="errors().length ? tooltipContent: ''" tooltipPosition="top">
        <button pButton [disabled]="invalid()" (click)="onSubmit()"><svg data-p-icon="check"></svg> Save</button>
        <ng-template #tooltipContent>
            @if (errors().length) {
                @for (message of errors(); track $index) {
                    <div class=""><span class="">{{message}}</span></div>
                }
            }
        </ng-template>
    </div>
    @if (activeTab()=='1') {
        <div class="">
            <button pButton iconOnly rounded (click)="addOverride()" [disabled]="stylesErrors().length"><svg data-p-icon="plus"></svg></button>
        </div>
    }
    <preview-drawer />
</div>
