<p-iconfield class="flex align-items-center w-full">
    <input #colorInput pInputText
        [class.double-inputicon]="inputicons().length==2" class="white-space-nowrap overflow-hidden text-overflow-ellipsis w-full"
        [value]="value()" [attr.id]="inputId()" readonly
        [pTooltip]="value()" tooltipExtension
        (input)="changeHandler.emit(colorInput.value)"
    />
    <p-inputicon class="flex gap-2" [class.pointer-events-none]="isReadonly()">
        @for (inputicon of inputicons(); track $index) {
            <button type="button" pButton iconOnly rounded variant="outlined"
                class="p-0 w-1rem h-1rem border-1 border-800 border-circle"
                [pTooltip]="inputicon.tooltip" [style.background]="inputicon.color"
                (click)="openPopover(inputicon.popover, $event)">
            </button>
        }
    </p-inputicon>
</p-iconfield>
<p-popover #popover appendTo="body" (onShow)="alignPopover()" (onHide)="onPopoverHide()" styleClass="color-field-popover">
    @if (popoverHeaderAvailable()) {
        <div class="p-3">{{ popoverParams().type }} — {{ popoverParams().name }}</div>
    }
    <div class="flex flex-column gap-3 h-16rem w-20rem  overflow-y-auto">
        @switch (popoverParams().view) {
            @case ('single-color-name') {
                <div class="flex flex-column gap-2 px-1">
                    @for (palette of this.palettes(); track $index) {
                        <button pButton variant="text" class="flex gap-2 w-full px-2 justify-content-start align-items-center"
                            [attr.id]="palette.name"
                            (click)="popoverParams().onclick(palette.name)">
                            <span class="inline-flex border-1 border-800 border-circle w-1rem h-1rem" [style.background]="palette.color"></span>
                            <span class="text-900" [class.font-bold]="palette.name==popoverParams().name">{{palette.name}}</span>
                        </button>
                    }
                </div>
            }
            @case ('double-color-name') {
                <div class="flex flex-column gap-2 px-1">
                    @for (palette of this.palettes(); track $index) {
                        <button pButton variant="text" class="flex gap-2 w-full px-2 justify-content-start align-items-center"
                            [attr.id]="palette.name"
                            (click)="popoverParams().onclick(palette.name)">
                            <span class="inline-flex border-1 border-800 border-circle w-1rem h-1rem" [style.background]="palette.color"></span>
                            <span class="text-900" [class.font-bold]="palette.name==popoverParams().name">{{palette.name}}</span>
                        </button>
                    }
                </div>
            }
            @case ('primary-color') {
                <div class="flex flex-column gap-2 px-1">
                    @for (palette of this.palettes(); track $index) {
                        <button pButton variant="text" class="flex gap-2 w-full px-2 justify-content-start align-items-center"
                            [attr.id]="palette.label"
                            (click)="popoverParams().onclick(palette.label)">
                            <span class="inline-flex border-1 border-800 border-circle w-1rem h-1rem" [style.background]="palette.color"></span>
                            <span class="text-900" [class.font-bold]="palette.label==popoverParams().name">{{palette.label}}</span>
                        </button>
                    }
                </div>
            }
            @case ('surface-color') {
                <div class="flex flex-column gap-2 px-1">
                    @for (palette of this.palettes(); track $index) {
                        <button pButton variant="text" class="flex gap-2 w-full px-2 justify-content-start align-items-center"
                            [attr.id]="palette.label"
                            (click)="popoverParams().onclick(palette.label)">
                            <span class="inline-flex border-1 border-800 border-circle w-1rem h-1rem" [style.background]="palette.color"></span>
                            <span class="text-900" [class.font-bold]="palette.label==popoverParams().name">{{palette.label}}</span>
                        </button>
                    }
                </div>
            }
            @default {
                @for (palette of this.palettes(); track $index) {
                    <div class="">
                        <div class="p-2"><span class="">{{ palette.label }}</span></div>
                        <div class="flex flex-column gap-2 px-1">
                            @for (node of palette.colors; track $index) {
                                <button pButton variant="text" class="flex gap-2 w-full px-2 justify-content-start align-items-center"
                                    [attr.id]="node.label"
                                    (click)="popoverParams().onclick(node.label)">
                                    <span class="inline-flex border-1 border-800 border-circle w-1rem h-1rem" [style.background]="node[popoverParams().type]"></span>
                                    <span class="text-900" [class.font-bold]="node.label==popoverParams().name">{{node.label}}</span>
                                </button>
                            }
                        </div>
                    </div>
                }
            }
        }
    </div>
</p-popover>
