<div #source class="flex flex-column gap-3 ----- min-w-20rem max-w-20rem h-full bg-breeze-50">
    <!-- source-start -->
    <div class="">
        <div class="mb-2 px-2"><span class="">Set as..</span></div>
        <div class="flex align-items-center mb-2 gap-3">
            <div class="flex align-items-center gap-1 cursor-pointer">
                <p-checkbox [ngModel]="vmodel['readonly']" (ngModelChange)="vmodel['readonly']=!vmodel['readonly']" class="" inputId="readonly" [binary]="true" />
                <label pLabel for="readonly"><span class="capitalize">readonly</span></label>
            </div>
            <div class="flex align-items-center gap-1 cursor-pointer">
                <p-checkbox [ngModel]="vmodel['invalid']" (ngModelChange)="vmodel['invalid']=!vmodel['invalid']" class="" inputId="invalid" [binary]="true" />
                <label pLabel for="invalid"><span class="capitalize">invalid</span></label>
            </div>
            <div class="flex align-items-center gap-1 cursor-pointer">
                <p-checkbox [ngModel]="vmodel['disabled']" (ngModelChange)="vmodel['disabled']=!vmodel['disabled']" class="" inputId="disabled" [binary]="true" />
                <label pLabel for="disabled"><span class="capitalize">disabled</span></label>
            </div>
        </div>
            <div class="flex gap-3">
                <div class="flex align-items-center gap-1">
                    <p-radiobutton value="small" [(ngModel)]="vmodel['size']" inputId="smallSize" [disabled]="vmodel['readonly'] || vmodel['disabled']" [invalid]="vmodel['invalid']" />
                    <label pLabel for="smallSize" class="capitalize">small</label>
                </div>
                <div class="flex align-items-center gap-1">
                    <p-radiobutton value="regular" [(ngModel)]="vmodel['size']" inputId="regularSize" [disabled]="vmodel['readonly'] || vmodel['disabled']" [invalid]="vmodel['invalid']" />
                    <label pLabel for="regularSize" class="capitalize">regular</label>
                </div>
                <div class="flex align-items-center gap-1">
                    <p-radiobutton value="large" [(ngModel)]="vmodel['size']" inputId="largeSize" [disabled]="vmodel['readonly'] || vmodel['disabled']" [invalid]="vmodel['invalid']" />
                    <label pLabel for="largeSize" class="capitalize">large</label>
                </div>
            </div>
    </div>
    <div class="">
        <div class="mb-2 px-2"><span class="font-bold text-lg">Form Fields</span></div>
        <div class="flex flex-column gap-3 w-full">
            <div class="flex gap-3">
                <div class="flex align-items-center gap-1">
                    <p-checkbox inputId="cheeseCheckbox" [size]="vmodel['size']" [readonly]="vmodel['readonly']" [disabled]="vmodel['disabled']" [invalid]="vmodel['invalid']" class="" [binary]="true" />
                    <label pLabel for="cheeseCheckbox"><span class="capitalize">cheese</span></label>
                </div>
                <div class="flex align-items-center gap-1">
                    <p-checkbox inputId="mushroomCheckbox" [size]="vmodel['size']" [readonly]="vmodel['readonly']" [disabled]="vmodel['disabled']" [invalid]="vmodel['invalid']" class="" [binary]="true" />
                    <label pLabel for="mushroomCheckbox"><span class="capitalize">mushroom</span></label>
                </div>
                <div class="flex align-items-center gap-1">
                    <p-checkbox inputId="pepperCheckbox" [size]="vmodel['size']" [readonly]="vmodel['readonly']" [disabled]="vmodel['disabled']" [invalid]="vmodel['invalid']" class="" [binary]="true" />
                    <label pLabel for="pepperCheckbox"><span class="capitalize">pepper</span></label>
                </div>
            </div>
            <div class="flex gap-3">
                <div class="flex align-items-center gap-1">
                    <p-radiobutton value="cheese" [(ngModel)]="vmodel['pizza']" inputId="cheeseRadiobutton" [size]="vmodel['size']" [disabled]="vmodel['readonly'] || vmodel['disabled']" [invalid]="vmodel['invalid']" />
                    <label pLabel for="cheeseRadiobutton" class="capitalize">cheese</label>
                </div>
                <div class="flex align-items-center gap-1">
                    <p-radiobutton value="mushroom" [(ngModel)]="vmodel['pizza']" inputId="mushroomRadiobutton" [size]="vmodel['size']" [disabled]="vmodel['readonly'] || vmodel['disabled']" [invalid]="vmodel['invalid']" />
                    <label pLabel for="mushroomRadiobutton" class="capitalize">mushroom</label>
                </div>
                <div class="flex align-items-center gap-1">
                    <p-radiobutton value="pepper" [(ngModel)]="vmodel['pizza']" inputId="pepperRadiobutton" [size]="vmodel['size']" [disabled]="vmodel['readonly'] || vmodel['disabled']" [invalid]="vmodel['invalid']" />
                    <label pLabel for="pepperRadiobutton" class="capitalize">pepper</label>
                </div>
            </div>
            <div class="w-full">
                <input pInputText value="Lorem ipsum" placeholder="Input Text Placeholder" class="w-full" id="" [pSize]="vmodel['size']" [readonly]="vmodel['readonly']" [disabled]="vmodel['disabled']" [invalid]="vmodel['invalid']" />
            </div>
            <div class="">
                <textarea placeholder="Textarea Placeholder" rows="5" pTextarea [autoResize]="false" id="" class="w-full" [pSize]="vmodel['size']" [readonly]="vmodel['readonly']" [disabled]="vmodel['disabled']" [invalid]="vmodel['invalid']">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut purus non purus fringilla accumsan eu eget erat. Curabitur iaculis pellentesque dolor tincidunt mattis. Mauris cursus imperdiet libero, at interdum sapien rhoncus non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer sagittis diam at est placerat, eu convallis nisi iaculis. Curabitur porta turpis nec lectus condimentum, et lobortis sapien imperdiet. Nulla facilisi. Donec quis iaculis metus. Mauris non neque accumsan, vestibulum metus ac, aliquet justo. Integer bibendum enim fermentum aliquam vehicula. Suspendisse potenti. Fusce tincidunt ante id mauris pharetra, vitae luctus risus vestibulum.</textarea>
            </div>
            <div class="w-full">
                <p-select
                    [(ngModel)]="vmodel['selected']" [options]="vmodel['options']" [scrollHeight]="'11.8rem'" placeholder="Select a language" class="w-full"
                    [size]="vmodel['size']" [readonly]="vmodel['readonly']" [disabled]="vmodel['disabled']" [invalid]="vmodel['invalid']"
                    (onShow)="vmodel['selectIsOpen']=true" (onHide)="vmodel['selectIsOpen']=false"
                />
                <div class="p-component p-overlay static mt-1" [class.opacity-0]="vmodel['selectIsOpen']">
                    <div class="p-overlay-content">
                        <div class="p-component p-component-overlay p-select-overlay">
                            <div class="p-select-list-container" style="max-height: 11.8rem;">
                                <ul class="p-select-list">
                                    @for (option of vmodel['options']; track $index) {
                                        <li class="p-ripple p-select-option" [class.p-select-option-selected]="option.value==vmodel['selected']"><span>{{option.label}}</span></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- source-end -->
</div>
<div class="flex flex-column flex-grow-1 h-full overflow-auto">
    <div class="flex w-full h-full overflow-auto"><pre class="m-0 p-2 white-space-pre-wrap">{{ sourceHtml() }}</pre></div>
    <div class="p-3">
        <button pButton rounded (click)="copyClipboard($event)">Primary</button>
    </div>
</div>
