@let notifications = store.notifications();
@let value = notifications.length;
@let disabled = value==0;
<p-overlaybadge
    [value]="value" (click)="popover.toggle($event)"
    (keydown.enter)="popover.toggle($event)"
    (keydown.space)="popover.toggle($event); $event.preventDefault()"
    class="block cursor-pointer" [class.pointer-events-none]="disabled"
    [pt]="{ pcBadge: { root: { class: value ? 'notification-badge' : 'p-badge-dot-hidden hidden' } } }">
    <svg data-p-icon="bell" [size]="24"></svg>
</p-overlaybadge>
<p-popover #popover>
    <div class="flex flex-column gap-2 min-w-12rem">
        @for (notification of notifications; track $index) {
            <button pButton variant="text" severity="secondary" class="w-full" (click)="popover.hide(); store.approveNotification(notification)"><span class="">{{ notification.title }}</span></button>
        }
    </div>
</p-popover>
