<div class="flex flex-wrap gap-3 w-full h-full overflow-auto">
    @for (fieldset of store.schema(); track $index) {
        <p-fieldset [legend]="fieldset.label" class="gap-2" [class]="fieldset.styleClass" styleClass="">
            <div class="flex gap-3 w-full"
                [class.flex-column]="fieldset.styleClass=='w-6'"
                [class.column-gap-8]="fieldset.styleClass=='w-full'"
                [class.flex-wrap]="fieldset.styleClass=='w-full'">
                @for (field of fieldset.fields; track $index) {
                    @if (field.isVisible) {
                        <form-component [formField]="formGroup[field.path]" [field]="field" />
                    }
                }
            </div>
        </p-fieldset>
    }
</div>
<div class="">
    <div class="">
        <p [pTooltip]="errors().length ? tooltipContent: ''" tooltipPosition="top">semantic works! Form valid: {{formGroup().valid()}}</p>
        <ng-template #tooltipContent>
            @if (errors().length) {
                @for (message of errors(); track $index) {
                    <div class=""><span class="">{{message}}</span></div>
                }
            }
        </ng-template>
    </div>
</div>

